<h1 mat-dialog-title>Generate New Meal of a Day</h1>
<div mat-dialog-content>If you want to change Meal options, you can click generate button.It will provide new generate
    meal plan with given calories.</div>
<mat-form-field>
    <mat-label>Set Calories.</mat-label>
    <input matInput [(ngModel)]="totalCalories">
</mat-form-field>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="genOneDayMealPlan()" >Generate</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>