/* container */
.container{
    display: grid;
    padding: 0;
    min-width: 100% !important;
    grid-template-columns: 250px auto;
}


/* Sidebar container */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto; /* Add a scrollbar for long lists */
    padding-top: 20px;
  }
  
  /* Profile section */
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
  
  .file-label {
    display: block;
    color: #ff5733; /* Color for the change profile picture label */
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .file-input {
    display: none; /* Hide the file input */
  }
  
  /* Navigation links */
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #d1401f;
  }

  


  /* Account Settings and Logout links */
nav a:nth-child(6), nav a:nth-child(7) {
    background-color: #ff5733; /* Change background color for these links */
    font-weight: bold; /* Make the text bold */
    color: #fff; /* Text color */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Padding for the links */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  nav a:nth-child(6):hover, nav a:nth-child(7):hover {
    background-color: #d1401f; /* Change background color on hover */
  }
  
  .content {
    grid-column: 2/-1;
  }


  @media (min-width: 1400px){
    .container {
      grid-template-columns: 300px auto;
    }
    .sidebar {
      width: 300px !important;
    }
  }
